---
layout: default
---
        <div class="row">

            <div class="col-md-6">
            <!-- Main jumbotron for a primary marketing message or call to action -->
                <div class="jumbotron">
                    <!--<h1>Donate to Ceasefire.ca</h1>-->
                    <!--<p>“A ceasefire is always the first step to achieve peace.”</p>-->
                    <!--<p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
                </div>
            </div>

            <div class="col-md-6">
              <p class="lead">How much would you give to stop Harper's pro-war lobby, right now?</p>
              <div class="visible-md visible-lg">
                  <p>Join over 25,000 other Canadians.</p>
                  <p>Your donation to Ceasefire.ca will help us to make Canada a peace leader, once again.</p>
              </div>
              <p><a href="#" title="Find out how your contribution will be used" data-toggle="modal" data-target="#modal_about">Find out more about out work &raquo;</a><p>
            </div>

        </div><!-- /.row -->
      {% include form_donation.html %}
      {% include modal_specialoffer.html %}
      {% include modal_about.html %}
