        <form role="form" name="payment_form" id="payment_form" action="success.html">
            <fieldset id="payment_method">
                <legend>
                    <span class="step">1</span>Select payment method
                </legend>
            </fieldset>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#creditcard" data-toggle="tab">Credit card</a></li>
                    <li><a href="#paypal" data-toggle="tab">Paypal</a></li>
                    <li><a href="#cheque" data-toggle="tab">Cheque</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- Tab: Credit card -->
                    <div class="tab-pane fade in active" id="creditcard">

                    <fieldset id="frequency">
                        <div class="form-group">
                            <select class="form-control frequency" name="day_of_month" required>
                                <option value="1" data-text="each month, on the 1st"selected>Monthly, on the 1st</option>
                                <option value="15" data-text="each month, on the 15th">Monthly, on the 15th</option>
                                <option value="TODOweekly" data-text="each week">Weekly</option>
                                <option value="onetime" data-text="as a one time gift">One-time</option>
                            </select>
                        </div>

                        <div class="sustaining">

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input class="form-control" type="text" name="amount_r" value="" placeholder="Sustaining contribution">
                                    <span class="input-group-addon">.00</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group joinclub col-xs-8">
                                    <p><input type="checkbox" name="send_me_gift" value="yes" />  Yes, I am joining the Peacekeepers recurring donor club. Please send me my copy of <em>Blue Future: Protecting Water for People and the Planet Forever</em> by Maude Barlow (a $25 value). Offer good until January 30, 2014. <a class="glyphicon glyphicon-question-sign" title="Find out more..." data-toggle="modal" data-target="#modal_specialoffer"></a>
                                    </p>
                                </div>
                                <div class="col-xs-4">
                                    <img alt="Cover of Blue Future" src="ui/img/blue_future_cover.png" />
                                </div>
                            </div>
                        </div><!-- /.sustaining -->


                        <div class="form-group onetime" style="display:none;">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input class="form-control" type="text" name="amount_1" value="" placeholder="One-time contribution">
                                <span class="input-group-addon">.00</span>
                            </div>
                        </div><!-- /.onetime -->

                        <div class="widget_amount_frequency" style="display:none;"> 
                            <div class="alert alert-info">
                            <p>You are committing $<span class="widget_amount"></span>&nbsp;<span class="widget_frequency"></span>.</p>
                            </div>
                        </div>
                        <input class="form-control" type="hidden" name="frequency" value="r" id="frequency">
                        </fieldset>
                        <fieldset id="personal_information">
                            <legend>
                               <span class="step">2</span> Personal information 
                            </legend>
                            <div class="form-group">
                                <label class="control-label" for="first_name">First Name</label>
                                <input class="form-control" type="text" name="first_name" value="" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="last_name">Last Name</label>
                                <input class="form-control" type="text" name="last_name" value="" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="email_addr">Email</label>
                                <input class="form-control" type="email" name="email_addr" size="40" value="" placeholder="Please type your email address" required>
                            </div>
                        </fieldset>
                        <fieldset id="billing_information">
                            <legend>
                                <span class="step">3</span>Billing information 
                            </legend>

                            <div class="form-group">
                                <label class="control-label" for="name_on_card">Name on card</label>
                                <input class="form-control" type="text" name="name_on_card" value="" required> 
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="card_number">Card number
                                </label>
                                <input class="form-control" type="text" name="card_number" value="" placeholder="XXXX XXXX XXXX XXXX" maxlength="19" size="19" pattern="[0-9]*" required>
                                <input class="form-control" type="hidden" name="cvd" size="3" value=""> 
                                <span class="cards-accepted"><img src="ui/img/img_mc_visa_22.gif" title="visa and mastercard are accepted" class="" /> We accept VISA and MasterCard. VISA Debit accepted for CIBC cardholrers.</span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Card expiry date</label>
                                <br />
                                <label for="exp_month">
                                    Month
                                    <select class="form-control" name="exp_month" required>
                                        <option value="01">01 - January</option>
                                        <option value="02">02 - February</option>
                                        <option value="03">03 - March</option>
                                        <option value="04">04 - April</option>
                                        <option value="05">05 - May</option>
                                        <option value="06">06 - June</option>
                                        <option value="07">07 - July</option>
                                        <option value="08">08 - August</option>
                                        <option value="09">09 - September</option>
                                        <option value="10">10 - October</option>
                                        <option value="11">11 - November</option>
                                        <option value="12">12 - December</option>
                                    </select>        
                                </label>
                                /
                                <label for="exp_year">
                                    Year
                                    <select class="form-control" name="exp_year" required>
                                        <option value="14">2014</option>
                                        <option value="15">2015</option>
                                        <option value="16">2016</option>
                                        <option value="17">2017</option>
                                        <option value="18">2018</option>
                                        <option value="19">2019</option>
                                        <option value="20">2020</option>
                                        <option value="21">2021</option>
                                        <option value="22">2022</option>
                                    </select> 
                                </label>
                            </div>

                                <div class="form-group">
                                    <label class="control-label" for="addr1">Billing Address</label>
                                    <input class="form-control" type="text" name="addr1" value="" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="city">City</label>
                                    <input class="form-control" type="text" name="city" value="" required>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="province">Province/State</label>
                                    <select class="form-control" name="province" required><option value="">(Please choose a province/state)</option>
                                        {% include select_provinces.html %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="postal_code">Postal/Zip Code</label>
                                    <input class="form-control" type="text" name="postal_code" value="" required>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="country">Country</label>
                                    <select class="form-control" name="country" required>
                                        {% include select_countries.html %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="phone_number">Phone Number</label>
                                    <input class="form-control" type="tel" name="phone_number" value=""> (optional)
                                </div>
                            </fieldset>

                            <fieldset id="extras">
                                <legend>
                                    <span class="step">3</span>One more question
                                </legend>
                                <div class="form-group">
                                    <input type="checkbox" name="donor_recognition" value="Yes" /> I give my permission for Ceasefire.ca to recognize my donation publicly on its website. <a class="glyphicon glyphicon-question-sign" title="About Recognition" rel="popover" data-container="#extras" data-toggle="popover" data-placement="top" data-content="Let people know you support peace by adding your name to our growing list of Ceasefire.ca donors. Your name will be displayed among hundreds of others who want Canada to be a peace leader (your contact information is never displayed)."></a>
                                </div>
                            </fieldset>

                                <div class="text-center">
                                    <input class="btn btn-lrg btn-success" type="submit" value="Donate Now &raquo;">
                                </div>
                        </form>
                    </div>

                    <!-- Tab panes: Paypal -->
                    <div class="tab-pane fade" id="paypal">
                        <div class="form-group">
                            <select class="form-control frequency_paypal" name="frequency_paypal">
                                <option value="monthly" selected>Monthly</option>
                                <option value="onetime">One-time</option>
                            </select>
                        </div>
                        <form class="sustaining_paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input class="form-control" type="text" name="a3" value="" placeholder="Sustaining contribution">
                                    <span class="input-group-addon">.00</span>
                                </div>
                            </div>
                            <!-- Identify your business so that you can collect the payments. -->
                            <input type="hidden" name="business"
                                value="operations@rideauinstitute.ca">

                            <!-- Specify a Subscribe button. -->
                            <input type="hidden" name="cmd" value="_xclick-subscriptions">
                            <!-- Identify the subscription. -->
                            <input type="hidden" name="item_name" value="Sustaining contribution to Ceasefire.ca">
                            <input type="hidden" name="item_number" value="">

                            <!-- Set the terms of the regular subscription. -->
                            <input type="hidden" name="currency_code" value="CAD">
                            <input type="hidden" name="p3" value="1">
                            <input type="hidden" name="t3" value="M">

                            <!-- Set recurring payments until canceled. -->
                            <input type="hidden" name="src" value="1">
                    <!-- Provide a dropdown menu option field. -->

                            <div class="row">
                                <div class="form-group joinclub col-xs-8">
                                <input type="hidden" name="on0" value="Gift">
                                    <p><input type="checkbox" name="os0" value="Yes" checked="true" />  Yes, I am joining the Peacekeepers recurring donor club. Please send me my copy of <em>Blue Future: Protecting Water for People and the Planet Forever</em> by Maude Barlow (a $25 value). Offer good until January 30, 2014. <a class="glyphicon glyphicon-question-sign" title="Find out more..." data-toggle="modal" data-target="#modal_specialoffer"></a>
                                    </p>
                                </div>
                                <div class="col-xs-4">
                                    <img alt="Cover of Blue Future" src="ui/img/blue_future_cover.png" />
                                </div>
                            </div>
                            <!-- Display the payment button. -->
                                <div class="text-center">
                                    <input class="btn btn-lrg btn-success" type="submit" value="Donate Now via Paypal &raquo;">
                                </div>
                            <img alt="" border="0" width="1" height="1"
                            src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
                        </form>

                        <form class="onetime_paypal" style="display:none;" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input class="form-control" type="text" name="amount" value="" placeholder="One-time contribution">
                                    <span class="input-group-addon">.00</span>
                                </div>
                            </div>
                            <!-- Identify your business so that you can collect the payments. -->
                            <input type="hidden" name="business"
                                value="operations@rideauinstitute.ca">

                            <!-- Specify a Donate button. -->
                            <input type="hidden" name="cmd" value="_donations">

                            <!-- Specify details about the contribution -->
                            <input type="hidden" name="item_name" value="One-time contribution to Ceasefire.ca">
                            <input type="hidden" name="currency_code" value="CAD">

                            <!-- Display the payment button. -->
                                <div class="text-center">
                                    <input class="btn btn-lrg btn-success" type="submit" value="Donate Now via Paypal &raquo;">
                                </div>
                            <img alt="" border="0" width="1" height="1"
                            src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
                        </form>
                    </div>

                    <!-- Tab panes: Cheque -->
                    <div class="tab-pane fade" id="cheque">
                        <p>If you would prefer to mail your donation, <a href="http://docs.google.com/viewer?url=https%3A%2F%2Fwww.ceasefire.ca%2Fdonate%2Fdonation_form.pdf">just print out this form</a> and mail along with your donation to:</p> 
                        <p>
                        <strong>Ceasefire.ca</strong>
                        <br />
                        c/o Rideau Institute 
                        <br />The Hope Building
                        <br />63 Sparks Street, Suite 608 
                        <br />Ottawa, Ontario 
                        <br />K1P 5A6
                        <br />CANADA
                        </p>

                        <div class="text-center">
                            <a href="http://docs.google.com/viewer?url=https%3A%2F%2Fwww.ceasefire.ca%2Fdonate%2Fdonation_form.pdf" class="btn btn-lrg btn-success">Open & Print Form &raquo;</a>
                        </div>
                    </div>
                <div class="widget-donor-list">
                    <p>Look who just made a donation for peace! See anyone you know?</p>
                    <div class="donors">
                        <ul>
                        </ul>
                    </div>
                    <br clear="all" />
                </div>
                </div><!-- /.tab-content -->
        </form>
