<!-- Modal -->
<div class="modal fade" id="modal_about" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Our Work</h4>
      </div>
      <div class="modal-body">
          <img src="ui/img/ceasefire_team.png" />
<p>We are an online community of more than 25,000 people who want Canada to be a peace leader. Ceasefire.ca was founded in 2003, and today is a project of the Rideau Institute, a well-known public policy research and advocacy group based in Ottawa. Ceasefire.ca is the Institute&rsquo;s main public outreach and advocacy arm. </p>

<p>Since its inception, Ceasefire.ca has played crucial roles in many campaigns, including preventing Canada from joining George W. Bush&rsquo;s &ldquo;Star Wars&rdquo; missile defence program. As well, it has pushed Canadian politicians of all stripes to oppose the war in Afghanistan, ban deadly cluster bombs, abolish nuclear weapons, prevent the weaponization of space, and take action on other important issues.</p>

<p>Many well-known supporters of Ceasefire.ca have endorsed its campaigns over the years, including David Suzuki, Maude Barlow, Matthew Good, Mel Hurtig, Helen Caldicott, Tom Hayden, Mel Watkins, and Murray Dobbin -- and even you!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
