        <option value="CA"  >Canada</a>
        <option value="US"  >United States</a>
        <option value="AF"  >Afghanistan</a>
        <option value="AX"  >Aland Islands</a>
        <option value="AL"  >Albania</a>
        <option value="DZ"  >Algeria</a>
        <option value="AS"  >American Samoa</a>
        <option value="AD"  >Andorra</a>
        <option value="AO"  >Angola</a>
        <option value="AI"  >Anguilla</a>
        <option value="AQ"  >Antarctica</a>
        <option value="AG"  >Antigua and Barbuda</a>
        <option value="AR"  >Argentina</a>
        <option value="AM"  >Armenia</a>
        <option value="AW"  >Aruba</a>
        <option value="AU"  >Australia</a>
        <option value="AT"  >Austria</a>
        <option value="AZ"  >Azerbaijan</a>
        <option value="BS"  >Bahamas</a>
        <option value="BH"  >Bahrain</a>
        <option value="BD"  >Bangladesh</a>
        <option value="BB"  >Barbados</a>
        <option value="BY"  >Belarus</a>
        <option value="BE"  >Belgium</a>
        <option value="BZ"  >Belize</a>
        <option value="BJ"  >Benin</a>
        <option value="BM"  >Bermuda</a>
        <option value="BT"  >Bhutan</a>
        <option value="BO"  >Bolivia</a>
        <option value="BA"  >Bosnia and Herzegovina</a>
        <option value="BW"  >Botswana</a>
        <option value="BV"  >Bouvet Island</a>
        <option value="BR"  >Brazil</a>
        <option value="IO"  >British Indian Ocean Territory</a>
        <option value="BN"  >Brunei Darussalam</a>
        <option value="BG"  >Bulgaria</a>
        <option value="BF"  >Burkina Faso</a>
        <option value="BI"  >Burundi</a>
        <option value="KH"  >Cambodia</a>
        <option value="CM"  >Cameroon</a>
        <option value="CV"  >Cape Verde</a>
        <option value="KY"  >Cayman Islands</a>
        <option value="CF"  >Central African Republic</a>
        <option value="TD"  >Chad</a>
        <option value="CL"  >Chile</a>
        <option value="CN"  >China</a>
        <option value="CX"  >Christmas Island</a>
        <option value="CC"  >Cocos (Keeling) Islands</a>
        <option value="CO"  >Columbia</a>
        <option value="KM"  >Comoros</a>
        <option value="CG"  >Congo</a>
        <option value="CD"  >Congo, The Democratic Republic of the</a>
        <option value="CK"  >Cook Islands</a>
        <option value="CR"  >Costa Rica</a>
        <option value="CI"  >Cote d'Ivoire - Ivory Coast</a>
        <option value="HR"  >Croatia</a>
        <option value="CU"  >Cuba</a>
        <option value="CY"  >Cyprus</a>
        <option value="CZ"  >Czech Republic</a>
        <option value="DK"  >Denmark</a>
        <option value="DJ"  >Djibouti</a>
        <option value="DM"  >Dominica</a>
        <option value="DO"  >Dominican Republic</a>
        <option value="TL"  >East Timor</a>
        <option value="EC"  >Ecuador</a>
        <option value="EG"  >Egypt</a>
        <option value="SV"  >El Salvador</a>
        <option value="GQ"  >Equatorial Guinea</a>
        <option value="ER"  >Eritrea</a>
        <option value="EE"  >Estonia</a>
        <option value="ET"  >Ethiopia</a>
        <option value="FK"  >Falkland Islands (Malvinas)</a>
        <option value="FO"  >Faroe Islands</a>
        <option value="FJ"  >Fiji</a>
        <option value="FI"  >Finland</a>
        <option value="FR"  >France</a>
        <option value="GF"  >French Guiana</a>
        <option value="PF"  >French Polynesia</a>
        <option value="TF"  >French Southern Territories</a>
        <option value="GA"  >Gabon</a>
        <option value="GM"  >Gambia</a>
        <option value="GE"  >Georgia</a>
        <option value="DE"  >Germany</a>
        <option value="GH"  >Ghana</a>
        <option value="GI"  >Gibraltar</a>
        <option value="GB"  >Great Britain</a>
        <option value="GR"  >Greece</a>
        <option value="GL"  >Greenland</a>
        <option value="GD"  >Grenada</a>
        <option value="GP"  >Guadeloupe</a>
        <option value="GU"  >Guam</a>
        <option value="GT"  >Guatemala</a>
        <option value="GN"  >Guinea</a>
        <option value="GW"  >Guinea Bissau</a>
        <option value="GY"  >Guyana</a>
        <option value="HT"  >Haiti</a>
        <option value="HM"  >Heard and McDonald Islands</a>
        <option value="HN"  >Honduras</a>
        <option value="HK"  >Hong Kong</a>
        <option value="HU"  >Hungary</a>
        <option value="IS"  >Iceland</a>
        <option value="IN"  >India</a>
        <option value="ID"  >Indonesia</a>
        <option value="IR"  >Iran, Islamic Republic of</a>
        <option value="IQ"  >Iraq</a>
        <option value="IE"  >Ireland</a>
        <option value="IL"  >Israel</a>
        <option value="IT"  >Italy</a>
        <option value="JM"  >Jamaica</a>
        <option value="JP"  >Japan</a>
        <option value="JO"  >Jordan</a>
        <option value="KZ"  >Kazakhstan</a>
        <option value="KE"  >Kenya</a>
        <option value="KI"  >Kiribati</a>
        <option value="KP"  >Korea, Democratic People's Republic</a>
        <option value="KR"  >Korea, Republic of</a>
        <option value="KW"  >Kuwait</a>
        <option value="KG"  >Kyrgyzstan</a>
        <option value="LA"  >Lao People's Democratic Republic</a>
        <option value="LV"  >Latvia</a>
        <option value="LB"  >Lebanon</a>
        <option value="LS"  >Lesotho</a>
        <option value="LR"  >Liberia</a>
        <option value="LY"  >Libyan Arab Jamahiriya</a>
        <option value="LI"  >Liechtenstein</a>
        <option value="LT"  >Lithuania</a>
        <option value="LU"  >Luxembourg</a>
        <option value="MO"  >Macau</a>
        <option value="MK"  >Macedonia, Former Yugoslav Republic of</a>
        <option value="MG"  >Madagascar</a>
        <option value="MW"  >Malawi</a>
        <option value="MY"  >Malaysia</a>
        <option value="MV"  >Maldives</a>
        <option value="ML"  >Mali</a>
        <option value="MT"  >Malta</a>
        <option value="MH"  >Marshall Islands</a>
        <option value="MQ"  >Martinique</a>
        <option value="MR"  >Mauritania</a>
        <option value="MU"  >Mauritius</a>
        <option value="YT"  >Mayotte</a>
        <option value="MX"  >Mexico</a>
        <option value="FM"  >Micronesia, Federated States of</a>
        <option value="MD"  >Moldova, Republic of</a>
        <option value="MC"  >Monaco</a>
        <option value="MN"  >Mongolia</a>
        <option value="MS"  >Montserrat</a>
        <option value="MA"  >Morocco</a>
        <option value="MZ"  >Mozambique</a>
        <option value="MM"  >Myanmar</a>
        <option value="NA"  >Namibia</a>
        <option value="NR"  >Nauru</a>
        <option value="NP"  >Nepal</a>
        <option value="NL"  >Netherlands</a>
        <option value="AN"  >Netherlands Antilles</a>
        <option value="NC"  >New Caledonia</a>
        <option value="NZ"  >New Zealand</a>
        <option value="NI"  >Nicaragua</a>
        <option value="NE"  >Niger</a>
        <option value="NG"  >Nigeria</a>
        <option value="NU"  >Niue</a>
        <option value="NF"  >Norfolk Island</a>
        <option value="MP"  >Northern Mariana Islands</a>
        <option value="NO"  >Norway</a>
        <option value="OM"  >Oman</a>
        <option value="PK"  >Pakistan</a>
        <option value="PW"  >Palau</a>
        <option value="PS"  >Palestinian Territory, Occupied</a>
        <option value="PA"  >Panama</a>
        <option value="PG"  >Papua New Guinea</a>
        <option value="PY"  >Paraguay</a>
        <option value="PE"  >Peru</a>
        <option value="PH"  >Philippines</a>
        <option value="PN"  >Pitcairn</a>
        <option value="PL"  >Poland</a>
        <option value="PT"  >Portugal</a>
        <option value="PR"  >Puerto Rico</a>
        <option value="QA"  >Qatar</a>
        <option value="RE"  >Reunion</a>
        <option value="RO"  >Romania</a>
        <option value="RU"  >Russian Federation</a>
        <option value="RW"  >Rwanda</a>
        <option value="KN"  >Saint Kitts and Nevis</a>
        <option value="LC"  >Saint Lucia</a>
        <option value="VC"  >Saint Vincent and the Grenadines</a>
        <option value="WS"  >Samoa</a>
        <option value="SM"  >San Marino</a>
        <option value="ST"  >Sao Tome and Principe</a>
        <option value="SA"  >Saudi Arabia</a>
        <option value="SN"  >Senegal</a>
        <option value="CS"  >Serbia and Montenegro</a>
        <option value="SC"  >Seychelles</a>
        <option value="SL"  >Sierra Leone</a>
        <option value="SG"  >Singapore</a>
        <option value="SK"  >Slovakia</a>
        <option value="SI"  >Slovenia</a>
        <option value="SB"  >Solomon Islands</a>
        <option value="SO"  >Somalia</a>
        <option value="ZA"  >South Africa</a>
        <option value="GS"  >South Georgia - South Sandwich Islands</a>
        <option value="ES"  >Spain</a>
        <option value="LK"  >Sri Lanka</a>
        <option value="SH"  >St. Helena</a>
        <option value="PM"  >St. Pierre and Miquelon</a>
        <option value="SD"  >Sudan</a>
        <option value="SR"  >Suriname</a>
        <option value="SJ"  >Svalbard and Jan Mayen</a>
        <option value="SZ"  >Swaziland</a>
        <option value="SE"  >Sweden</a>
        <option value="CH"  >Switzerland</a>
        <option value="SY"  >Syrian Arab Republic</a>
        <option value="TW"  >Taiwan</a>
        <option value="TJ"  >Tajikistan</a>
        <option value="TZ"  >Tanzania, United Republic of</a>
        <option value="TH"  >Thailand</a>
        <option value="TG"  >Togo</a>
        <option value="TK"  >Tokelau</a>
        <option value="TO"  >Tonga</a>
        <option value="TT"  >Trinidad and Tobago</a>
        <option value="TN"  >Tunisia</a>
        <option value="TR"  >Turkey</a>
        <option value="TM"  >Turkmenistan</a>
        <option value="TC"  >Turks and Caicos Islands</a>
        <option value="TV"  >Tuvalu</a>
        <option value="UG"  >Uganda</a>
        <option value="UA"  >Ukraine</a>
        <option value="AE"  >United Arab Emirates</a>
        <option value="UM"  >United States Minor Outlying Islands</a>
        <option value="UY"  >Uruguay</a>
        <option value="UZ"  >Uzbekistan</a>
        <option value="VU"  >Vanuatu</a>
        <option value="VA"  >Vatican City state</a>
        <option value="VE"  >Venezuela</a>
        <option value="VN"  >Viet Nam</a>
        <option value="VG"  >Virgin Islands (British)</a>
        <option value="VI"  >Virgin Islands (US)</a>
        <option value="WF"  >Wallis and Futuna</a>
        <option value="EH"  >Western Sahara</a>
        <option value="YE"  >Yemen</a>
        <option value="ZM"  >Zambia</a>
        <option value="ZW"  >Zimbabwe</a>
