        <option value="--" >Outside of US & Canada</a>
        <option value="AB" >Alberta</a>
        <option value="BC" >British Columbia</a>
        <option value="MB" >Manitoba</a>
        <option value="NB" >New Brunswick</a>
        <option value="NL" >Newfoundland/Labrador</a>
        <option value="NT" >Northwest Territories</a>
        <option value="NS" >Nova Scotia</a>
        <option value="NU" >Nunavut</a>
        <option value="ON" >Ontario</a>
        <option value="PE" >Prince Edward Island</a>
        <option value="QC" >Quebec</a>
        <option value="SK" >Saskatchewan</a>
        <option value="YT" >Yukon</a>
        <option value="AL" >Alabama</a>
        <option value="AK" >Alaska</a>
        <option value="AS" >American Samoa</a>
        <option value="AZ" >Arizona</a>
        <option value="AR" >Arkansas</a>
        <option value="CA" >California</a>
        <option value="CO" >Colorado</a>
        <option value="CT" >Connecticut</a>
        <option value="DE" >Delaware</a>
        <option value="DC" >District of Columbia</a>
        <option value="FL" >Florida</a>
        <option value="GA" >Georgia</a>
        <option value="GU" >Guam</a>
        <option value="HI" >Hawaii</a>
        <option value="ID" >Idaho</a>
        <option value="IL" >Illinois</a>
        <option value="IN" >Indiana</a>
        <option value="IA" >Iowa</a>
        <option value="KS" >Kansas</a>
        <option value="KY" >Kentucky</a>
        <option value="LA" >Louisiana</a>
        <option value="ME" >Maine</a>
        <option value="MD" >Maryland</a>
        <option value="MA" >Massachusetts</a>
        <option value="MI" >Michigan</a>
        <option value="FM" >Micronesia</a>
        <option value="MN" >Minnesota</a>
        <option value="MS" >Mississippi</a>
        <option value="MO" >Missouri</a>
        <option value="MT" >Montana</a>
        <option value="NE" >Nebraska</a>
        <option value="NV" >Nevada</a>
        <option value="NH" >New Hampshire</a>
        <option value="NJ" >New Jersey</a>
        <option value="NM" >New Mexico</a>
        <option value="NY" >New York</a>
        <option value="NC" >North Carolina</a>
        <option value="ND" >North Dakota</a>
        <option value="OH" >Ohio</a>
        <option value="OK" >Oklahoma</a>
        <option value="OR" >Oregon</a>
        <option value="PA" >Pennsylvania</a>
        <option value="PR" >Puerto Rico</a>
        <option value="RI" >Rhode Island</a>
        <option value="SC" >South Carolina</a>
        <option value="SD" >South Dakota</a>
        <option value="TN" >Tennessee</a>
        <option value="TX" >Texas</a>
        <option value="UT" >Utah</a>
        <option value="VT" >Vermont</a>
        <option value="VI" >Virgin Islands</a>
        <option value="VA" >Virginia</a>
        <option value="WA" >Washington</a>
        <option value="WV" >West Virginia</a>
        <option value="WI" >Wisconsin</a>
        <option value="WY" >Wyoming</a>
