/* Colour palette */
/* Globals, mixins, etc. */
body {
  background: #ebe9e1;
}
.container {
  max-width: 800px;
}
a:link,
a:hover,
a:visited {
  color: #262721;
}
p a:link,
p a:hover,
p a:visited {
  border-bottom: dotted 1px #262721;
}
p a:hover {
  text-decoration: none;
  border-bottom: dotted 1px #262721;
  background: #e4e2db;
}
/* Typography */
/* Layout */
/* Modules */
/* Module: header */
header {
  background-color: #262721;
}
header h1 {
  margin: 0 0 20px 0;
  padding: 0;
  text-indent: -5000px;
  height: 80px;
  background: url('../img/ceasefire_logo_sm.png') no-repeat center;
}
/* Module: payment_form */
#payment_form {
  padding: 10px;
  background: #f5f4f0;
}
#payment_form .nav > li > a {
  padding: 10px 10px;
}
#payment_form .nav-tabs > li.active > a,
#payment_form .nav-tabs > li.active > a:hover,
#payment_form .nav-tabs > li.active > a:focus {
  background-color: #f5f4f0;
}
#payment_form .tab-pane {
  padding: 20px 0 20px 0;
}
#payment_form fieldset legend {
  background: #e9e7e0;
  padding-left: 5px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
#payment_form fieldset span.step {
  background: #b8b3a1;
  color: #f5f4f0;
  margin: 0;
  padding: 0px 8px 0px 8px;
  margin-right: 4px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
#payment_form fieldset label.control-label {
  text-transform: uppercase;
  font-size: smaller;
}
#payment_form .nav .nav-tabs {
  margin-top: 20px;
}
#payment_form #billing_information {
  margin-top: 20px;
}
a.btn:link,
a.btn:hover,
a.btn:visited {
  color: white;
}
/* Module: Jumbotron */
.jumbotron {
  background: url('../img/ceasefire-volunteers.JPG') no-repeat top center;
  background-size: cover;
  margin-bottom: 10px;
  min-height: 180px;
}
.jumbotron .container {
  background: rgba(255, 255, 255, 0.7);
}
/* State */
/* Print */
/* Media queries */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dppx) {
  /* Retina-specific stuff here, put your CSS sprite stuff here for Retina */
  header h1 {
    background: url('../img/ceasefire_logo_sm_x2.png') no-repeat center;
    background-size: 320px 80px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* portrait tablets */
  .jumbotron {
    min-height: 360px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Adjust for standard desktop */
  .jumbotron {
    min-height: 230px;
  }
}
@media screen and (min-width: 768px) {
  /* Adjust for large desktop */
  .jumbotron {
    min-height: 230px;
  }
}
